.content {
    position: absolute;
    top: 46px;
    left: 225px;
    background-color: white;
    width: calc(100% - 225px);
    height: calc(100% - 46px);
    padding: 14px 21px;
    background-color: #f4f7ff;
}

.content .content-header {
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .content-header .header-title {
        font-size: 20px;
        font-weight: 800;
    }
    .content-header .header-add-employee {
        display: flex;
        height: 42px;
        align-items: center;
        padding: 0 12px 0 12px;
        background-color: #019160;
        color : white;
        border-radius: 4px 4px 4px 4px;
    }
    .content-header .header-add-employee:hover {
        cursor: pointer;
        opacity: 0.8;
    }
        .header-add-employee .add-icon{
            background-image: url(../../assets/icon/add.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 16px;
            width: 16px;
            margin-right: 10px;
        }

.content .content-filter {
    display: flex;
    justify-content: space-between;
    height: 37px;
}

    .content-filter .filter-left {
        display: flex;
        height: 37px;
        gap: 11px;
    }

        .filter-left .search-assets {
            background-color: #ffffff;
            border-radius: 2.5px;
            width: 200px;
            height: 37px;
            overflow: hidden;
        }
            .search-assets .search-box {
                background-image: url(../../assets/icon/search.png);
                background-position: 8px center;
                background-repeat: no-repeat;
                background-size: 20px;
                padding: 8px 8px 8px 39px;
                width: 200px;
                font-size: 13px;
                height: 37px;
                font-style: italic;
            }

            .search-assets .search-box:focus {
                border-color: #019160;
            }

        .content-header .content-feature {
            display: flex;
            height: 37px;
        }        

        /* .content-feature .m-btn-delete {
            font-size: 16px;
            padding: 11px;
            border-radius: 3px;
            border: 1px solid #BBBBBB;
            width: 36px;
            height: 36px;
            background-repeat: no-repeat;
            background-position: center;
            color: red;
            background-color: white;
            margin-right: 12px;
            box-shadow: inset 0 2px 6px rgba(0, 0, 0, .16);
            overflow: hidden;
        }

        .content-feature .btn-delete:hover {
            background-color: #EEEEEE;
            cursor: pointer;
        } */

.content .wrap-content{
    position: relative;
    height: calc(100vh - 130px);
    background-color: #ffffff;
    /* border: 1px solid #afafaf; */
    border-radius: 3.5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    overflow-x: auto;
    overflow-y: scroll;
    margin-top: 11px;
}

::-webkit-scrollbar {
  height: 8px;              /* height of horizontal scrollbar ← You're missing this */
  width: 8px;               /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}


    .content .summary {
        position: sticky;
        bottom: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        height: 40px;
        background-color: #ffffff;
        box-sizing: border-box;
        border-top: 1px solid #afafaf60;
        padding-left: 16px;
        border-radius: 0px 0px 3.5px 3.5px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
        gap: 20px;
    }

    .summary .pagination {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }