.m-combobox-icon {
    position: relative;
    width: 219px;
    box-sizing: border-box;
    height: 37px;
    border: 1px solid #afafaf;
    background-color: #ffffff;
    border-radius: 2.5px;
    cursor: pointer;
    background-image: url(../../../assets/icon/filter.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-right: 10px;
}

.m-combobox-icon-title {
    margin-left: 40px;
}

.m-combobox-icon .m-combobox-icon-input {
    display: inline-block;
    box-sizing: border-box;
    padding-right: 20px;
    width: 100%;
    border: none;
    background-image: url(../../../assets/icon/down-arrow-solid.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: right center;
    height: 35px;
    outline: none;
    line-height: 20px;
    cursor: pointer;
    padding-left: 2px;
    text-overflow: ellipsis;
}

.m-combobox-icon .m-combobox-icon-input::placeholder {
    font-size: 13px;
    font-family: GoogleSansLight;
    color: #000000;
}

.m-combobox-icon input:focus{
    background-image: url(../../../assets/icon/arrow-up-solid.png);  
}

.m-combobox-icon .m-combobox-icon-data {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    top: 40px;
    padding-bottom: 5px;
    flex-direction: column;
    position: absolute;
    background-color: #f9fafc;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.356);
    z-index: 1000;
}

.m-combobox-icon .m-combobox-icon-data .m-combobox-icon-item {
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #f9fafc;
    font-size: 13px;
    font-family: MiSA GoogleSansLight;
}

.m-combobox-icon .m-combobox-icon-data .m-combobox-icon-item:hover {
    background-color: #c7e0f5;
}

.m-combobox-icon .m-combobox-icon-data .m-combobox-icon-item.m-combobox-icon-focus {
    background-color: #c7e0f5;
}

.m-combobox-icon .m-combobox-icon-item.m-combobox-icon-selected{
    background-image: url(../../../assets/icon/check.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 14px 14px;
    background-color: #96c6ee !important;
    color: #000000;
}