table.table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

tbody tr {
    line-height: 41px;
    box-sizing: border-box;
}
.table thead tr, .table tbody tr {
    border-bottom: 1px solid #afafaf;
}


.table tbody tr td,
.table thead tr th {
  text-align: left;
  padding: 0 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.table thead {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  line-height: 40px;
}

::-webkit-scrollbar {
  width: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 1px;
  }
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(208, 204, 204);
  border-radius: 1px;
}

  .selectedRow {
    background-color: rgba(26, 164, 200, .2); 
  }
  .table tbody tr:hover {
    background-color: rgba(26, 165, 200, 0.11);
  }

  table.table tbody tr .action {
    opacity: 0;
  }
  .feature {
    z-index: 1;
  }
  table.table tbody tr:hover .action {
    opacity: 1;
    text-align: center;
    line-height: 40px;
    display: block;
  }
