.m-select {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(26, 164, 200, .2);
    border-radius: 3px;
    width: 112px;
    height: 30px;
    cursor: pointer;
    padding: 0px 10px;
}

.m-select:hover {
    background-color: rgba(26, 165, 200, 0.384);
}

.m-select .m-select-title {
    width: 130px;
    padding: 3px 5px;
    background-image: url(../../../assets/icon/sort.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 13px;
    outline: none;
}

.m-select-name {
    font-weight: 700; 
    padding-left: 10px; 
    font-family: GoogleSans;
}

.m-select .m-select-data {
    display: flex;
    width: 100%;
    top: 35px;
    right: 1px;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    border-radius: 3px;
    z-index: 999;
}

.m-select .m-select-data .m-select-item{
    display: inline-block;
    padding: 5px 5px;
    font-size: 13px;
    font-family: GoogleSans-Light;
    height: 25px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px 0px solid;
}

.m-select .m-select-data .m-select-selected {
    background-color: rgba(26, 164, 200, .2) !important;
}

.m-select .m-select-data .m-select-item:hover {
    background-color: rgba(26, 165, 200, 0.384);
}
